{{template "base" .}}

{{define "title"}}  Title  {{end}}


{{define "main"}}
<h2>Последние заметки</h2>
<p>Пока здесь ничего нет!</p>
<p>Пока здесь ничего нет!</p>
<h2>Последние заметки</h2>
<p>Пока здесь ничего нет!</p>
{{end}}

{{define "algorithms"}}
<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="images/pic02.jpg" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p>description my lab</p>
                            <h2>lab 1</h2>
                        </header>
                        <p> Make a two-dimensional cellular automaton with a von Neumann neighborhood. No. = variant number * year of birth * day * month </p>
                        <footer class="align-center">
                            <a href="algorithm_lab1.html" class="button alt">Learn More</a>
                        </footer>
                    </div>
                </div>
            </div>

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="images/pic03.jpg" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p>something description</p>
                            <h2>Course paper</h2>
                        </header>
                        <p> do something.</p>
                        <footer class="align-center">
                            <a href="#" class="button alt">Learn More</a>
                        </footer>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{end}}


{{define "Two"}}
<!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p> Blablablalbla blabla blab lbaalba lab lb lbblab ablb</p>
            <h2>Superman</h2>
        </header>
    </div>
</section>


{{end}}


{{define "Three"}}
<!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special">blablalbla blabla blab lbaalba lab lb lbblab ablb blablalbla blabla blab lbaalba lab lb lbblab ablb</p>
            <h2>Canceddaf</h2>
        </header>
        <div class="gallery">
            <div>
                <div class="image fit">
                    <a href="#"><img src="images/pic01.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="images/pic02.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="images/pic03.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="images/pic04.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>


{{end}}



{{define "Automata_theory"}}
<section id="Automata_theory" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="images/pic02.jpg" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p><a href="https://tema.spbstu.ru/userfiles/files/courses/2018-theory-automata/ta_lab1b.pdf">description my lab</a>></p>
                            <h2>lab 1</h2>
                        </header>
                        <p> Madnf;lakdsf;lads;lfj;lasdf;k </p>
                        <footer class="align-center">
                            <a href="automata_theory_lab1.html" class="button alt">Learn More</a>
                        </footer>
                    </div>
                </div>
            </div>

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="images/pic03.jpg" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p><a href="https://tema.spbstu.ru/userfiles/files/courses/2018-theory-automata/ta_lab0.pdf">something description</a>></p>
                            <h2>lab 2</h2>
                        </header>
                        <p> do something.</p>
                        <footer class="align-center">
                            <a href="#" class="button alt">Learn More</a>
                        </footer>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{{end}}


{{define "Scripts"}}
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
{{end}}